.btn-primary,
.printBtn {
  background-color: #de3d8d !important;
  border-color: #de3d8d !important;
}

.navbar {
  background-color: #009dc4;
  border-bottom: 1px solid white;

  .navbar-brand,
  .nav-item a {
    color: white;
  }
}

.alert {
  &.alert-primary {
    color: #ffffff;
    background-color: #009dc4;
    border-color: #009dc4;
  }

  &.alert-danger {
    color: #ffffff;
    background-color: #f93d4e;
    border-color: #f93d4e;
  }
}

table {
  a {
    color: #de3d8d;
  }
}

.billingsTable {
  display: block;
  margin: auto;
  text-align: center;
  width: 65%;
}

.expensesTable {
  text-align: center;
}

.productsTable {
  .code {
    width: 10%;
  }
}

.btn-outline-primary {
  color: #de3d8d !important;
  border-color: #de3d8d !important;

  &:hover {
    color: white !important;
    background-color: #de3d8d !important;
  }
}

.card {
  .card-header {
    background-color: #de3d8d;
    color: white;
  }
}

.menu__item {
  color: rgba(0,0,0,.9);
  padding: 0 10px;

  &:hover {
    color: rgba(0,0,0,.9);
    text-decoration: none;
  }
}